<div class="panel panel-primary">
  <div class="panel-heading">Thực Hiện Đơn Hàng</div>
    <div class="panel-body">
			<%= render 'form', order: @order %>
			<%= link_to 'Trang trước', orders_path, class: "btn btn-info" %>
		</div>
	</div>
</div>			